@model CECRunningChart.Web.Models.Vehicle.LubricantModel
@{
    ViewBag.Title = "Edit Lubricant";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <fieldset>
        <legend>Edit Lubricant</legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LubricantType)
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    @Html.LabelFor(model => model.LubricantType)
                </div>
                <div class="editor-field displayStyles">
                    @Model.LubricantType
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    @Html.LabelFor(model => model.LubricantRate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LubricantRate)
                    @Html.ValidationMessageFor(model => model.LubricantRate)
                </div>
            </div>
        </div>
        <div class="row">
            <input class="createBtn" type="submit" value="Save" />
        </div>
    </fieldset>
}
<div class="bckBtn">
    @Html.ActionLink("Back to List", "Lubricant")
</div>
