@model IEnumerable<CECRunningChart.Web.Models.Vehicle.FuelModel>
@{
    ViewBag.Title = "Manage Fuel";
}
<div class="inrPgHeadding">
    <h2>
        Manage Fuel
    </h2>
</div>
<div class="createNewRow">
    <a href="@Url.Action("NewFuel", "vehicle")">Add New Fuel</a>
</div>
@*<p>
    @Html.ActionLink("Create New", "newfuel", "vehicle")
</p>*@
<div class="tblContainer">
<table class="tblFont">
    <tr>
        <th class="tblModel">
            Fuel Type
        </th>
        <th class="tblModel">
            Fuel Rate
        </th>
        <th class="tblModel">
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="mainColum">
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @item.FuelRate.ToString()
            </td>
            <td>
                @Html.ActionLink("Edit", "editfuel", new { id = item.Id })
            </td>
        </tr>
    }
</table>
</div>