@model IEnumerable<CECRunningChart.Web.Models.Vehicle.LubricantModel>
@{
    ViewBag.Title = "Manage Lubricant";
}
<div class="inrPgHeadding">
    <h2>
        Manage Lubricant
    </h2>
</div>
<div class="createNewRow">
    <a href="@Url.Action("newlubricant", "vehicle")">Add New Lubricant</a>
</div>
@*<p>
    @Html.ActionLink("Create New", "newlubricant", "vehicle")
</p>*@
<div class="tblContainer">
<table class="tblFont">
    <tr>
        <th class="tblModel">
            Lubricant Type
        </th>
        <th class="tblModel">
            Lubricant Rate
        </th>
        <th class="tblModel">
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="mainColum">
                @Html.DisplayFor(modelItem => item.LubricantType)
            </td>
            <td>
                @item.LubricantRate.ToString()
            </td>
            <td>
                @Html.ActionLink("Edit", "editlubricant", "vehicle", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
</div>
