@*@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
@{ var user = Session[CECRunningChart.Web.Helpers.SessionKeys.UserInfo] as CECRunningChart.Web.Models.User.UserModel;}
Hello @user.UserName*@

@{
    Layout = "~/Views/Shared/_Inner.cshtml";
    ViewBag.Title = "CEC Running Chart - Home";
}
@section Header {
    <div class="logo">
        <img src="/Content/images/logo.png" alt="Consulting Engineers & Contractors (Pvt) Ltd" />
    </div>
    <div class="companyName">
        Consulting Engineers & Contractors (Pvt) Ltd
    </div>
    <div class="logoutBtndiv">
        <a href="@Url.Action("logoff", "home")" class="logoutBtn">
            <img src="/Content/images/logoutBtn.png" alt="Log Off" />
        </a>
    </div>
}
@section MainContent {
    <div class="innerPgContent">
        @if (ViewBag.UserRole == CECRunningChart.Common.UserRole.Admin)
        {
            <div class="adminIconPanel">
                <a href="@Url.Action("index", "vehicle")">
                    <img src="/Content/images/manage_vehicles_machines.png" alt="Manage Vehicles" />
                </a>
                <a href="@Url.Action("index", "pumpstation")">
                    <img src="/Content/images/manage_pump_stations.png" alt="Manage Vehicles" />
                </a>
                <a href="@Url.Action("fuel", "vehicle")">
                    <img src="/Content/images/manage_fuelprices.png" alt="Manage Fuel Price" />
                </a>
                <a href="@Url.Action("lubricant", "vehicle")">
                    <img src="/Content/images/manage_lubricants.png" alt="Manage Lubricant Price" />
                </a>
                <a href="@Url.Action("index", "project")">
                    <img src="/Content/images/manage_projects.png" alt="Manage Projects" />
                </a>
                <a href="@Url.Action("index", "report")">
                    <img src="/Content/images/manage_reports.png" alt="Manage Vehicles" />
                </a>
                <a href="@Url.Action("index", "user")">
                    <img src="/Content/images/manage_users.png" alt="Manage Users" />
                </a>
                <a href="@Url.Action("index", "runningchart")">
                    <img src="/Content/images/manaeRuningChart.png" />
                </a>
                <a href="@Url.Action("reset", "user")">
                    <img src="/Content/images/pwChangeIcon.png" />
                </a>
                @*<a href="">
                    <img src="/Content/images/viewPastRptIcon.png" />
                </a>
                <a href="">
                    <img src="/Content/images/approveRptIcon.png" />
                </a>*@
            </div>
        }
        else if (ViewBag.UserRole == CECRunningChart.Common.UserRole.RunningChartInspector)
        {
            <div class="inspectorIconPanel">
                <a href="">
                    <img src="/Content/images/approveRptIcon.png" alt="" />
                </a>
                <a href="">
                    <img src="/Content/images/manageRptIcon.png" alt="" />
                </a>
                <a href="@Url.Action("reset", "user")">
                    <img src="/Content/images/pwChangeIcon.png" />
                </a>
            </div>
        }
        else if (ViewBag.UserRole == CECRunningChart.Common.UserRole.RunningChartOperator)
        {
            <div class="operatorIconPanel">
                <a href="@Url.Action("index", "runningchart")">
                    <img src="/Content/images/viewPastRptIcon.png" alt="Manage Running Charts" />
                </a>
                <a href="@Url.Action("create", "runningchart")">
                    <img src="/Content/images/addRunningChartIcon.png" alt="Manage Running Charts" />
                </a>
                <a href="@Url.Action("reset", "user")">
                    <img src="/Content/images/pwChangeIcon.png" />
                </a>
            </div>
        }        
    </div>
    <div class="footer">
        <div style="float: left">
            ©Copyrights Received by Consulting Engineers & Contractors (Pvt) Ltd</div>
        <div style="float: right">
            Powerd by Creative and Quality Solutions</div>
    </div>
}