@model IEnumerable<CECRunningChart.Web.Models.Reports.DriverOperatorTimeSheetModel>
@using CECRunningChart.Common;
@{
    ViewBag.Title = "Driver / Operator Time Sheet";
}
<script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dateselect").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $.validator.addMethod("selectDriverName", function (value, element) {
            return value != "- SELECT -";
        }, " *");

        $("#drivertimesheetform").validate({
            rules: {
                startDate: {
                    required: true,
                    maxlength: 50
                },
                endDate: {
                    required: true,
                    maxlength: 50
                },
                driverName: {
                    selectDriverName: true
                }
            },
            messages: {
                startDate: " *",
                endDate: " *",
                driverName: " *"
            }
        });
    });
</script>
<div class="inrPgHeadding">
<h2>Driver / Operator Time Sheet</h2>
</div>
<div class="bckBtn">
    @Html.ActionLink("Back to Reports", "index")
    @if (Model != null)
    {
        string print = "/report/timesheetprint?name=" + Server.UrlEncode(ViewBag.DriverOperatorName) +
            "&startDate=" + Server.UrlEncode(Convert.ToDateTime(ViewBag.StartDate).ToString("d")) +
            "&endDate=" + Server.UrlEncode(Convert.ToDateTime(ViewBag.EndDate).ToString("d"));
        @Html.ActionLink("Back to Driver / Operator Time Sheet", "drivertimesheet")
        <a href="@print" target="_blank" id="PrintReport">Print Report</a>
    }
</div>
<div class="tblContainer">
@if (Model == null)
{
    var drivers = ViewBag.DriverNames as List<string>;
    var options = drivers.Select(x => new SelectListItem() { Text = x, Value = x }).ToList<SelectListItem>();
    using (Html.BeginForm("drivertimesheet", "report", FormMethod.Post, new { @id = "drivertimesheetform" }))
    {
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Report Start Date:
                </div>
                <div class="editor-field">
                    <input type="text" id="startDate" name="startDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Report End Date:
                </div>
                <div class="editor-field">
                    <input type="text" id="endDate" name="endDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Driver/Operator Name:
                </div>
                <div class="editor-field">
                    @Html.DropDownList("driverName", options)
                </div>
            </div>
        </div>
        <div class="row">
            <input class="genRptBtn" type="submit" value="Generate Report" />
        </div>
    }
}
else
{
    <p>
        Period : @Convert.ToDateTime(ViewBag.StartDate).ToString("d") - @Convert.ToDateTime(ViewBag.EndDate).ToString("d")
        <br />
        Driver / Operator Name : @ViewBag.DriverOperatorName
    </p>
    <table class="tblFont">
            <tr>
                <th rowspan="2" class="tblModel">Date</th>
                <th rowspan="2" class="tblModel">Vehicle/Machine No</th>
                <th rowspan="2" class="tblModel">In Time</th>
                <th rowspan="2" class="tblModel">Out Time</th>
                <th colspan="2" class="tblModel">Work Done</th>
                <th rowspan="2" class="tblModel">OT Hour</th>
            </tr>
            <tr>
                <td class="tblsubModel">Km</td>
                <td class="tblsubModel">Hour</td>
            </tr>
            @foreach (var item in Model)
            {
                var workDoneKm = item.IsVehicle ? item.WorkDone.ConvertToDecimalString() : string.Empty;
                var workDoneHr = item.IsVehicle ? string.Empty : item.WorkDone.ConvertToDecimalString();
                <tr>
                    <td class="mainColum">
                        @item.BillDate.ToString("d")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNumber)
                    </td>
                    <td style="text-align:right;">
                        @item.InTime.ToString("t")
                    </td>
                    <td style="text-align:right;">
                        @item.OutTime.ToString("t")
                    </td>
                    <td style="text-align:right;">
                        @workDoneKm
                    </td>
                    <td style="text-align:right;">
                        @workDoneHr
                    </td>
                    <td style="text-align:right;">
                        @{ 
                   string displayOTHours = item.OTHours <= 0 ? "0" : item.OTHours.ConvertToDecimalString();
                        }
                        @displayOTHours
                    </td>
                </tr>
            }
        </table>
}
</div>
