@model IEnumerable<CECRunningChart.Web.Models.Reports.DriverOperatorTimeSheetModel>

@{
    ViewBag.Title = "Driver / Operator Time Sheet";
}

<h2>Driver / Operator Time Sheet</h2>
<p>
    @Html.ActionLink("Back to Reports", "index")
    @Html.ActionLink("Back to Driver / Operator Time Sheet", "drivertimesheet")
</p>
@if (Model == null)
{
    using (Html.BeginForm())
    {
        <input type="text" id="driverName" name="driverName" /><br />
        <input type="submit" value="Generate Report" />
    }
}
else
{
    <p>
        Driver / Operator Name : @ViewBag.DriverOperatorName
    </p>
    <table>
            <tr>
                <th rowspan="2">Date</th>
                <th rowspan="2">Vehicle/Machine No</th>
                <th rowspan="2">In Time</th>
                <th rowspan="2">Out Time</th>
                <th colspan="2">Work Done</th>
                <th rowspan="2">OT Hour</th>
            </tr>
            <tr>
                <td>Km</td>
                <td>Hour</td>
            </tr>
            @foreach (var item in Model)
            {
                var workDoneKm = item.IsVehicle ? item.WorkDone.ToString() : string.Empty;
                var workDoneHr = item.IsVehicle ? string.Empty : item.WorkDone.ToString();
                <tr>
                    <td>
                        @item.BillDate.ToString("d")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNumber)
                    </td>
                    <td>
                        @item.InTime.ToString("t")
                    </td>
                    <td>
                        @item.OutTime.ToString("t")
                    </td>
                    <td>
                        @workDoneKm
                    </td>
                    <td>
                        @workDoneHr
                    </td>
                    <td>
                        @{ 
                            string otHours = item.OTHours.ToString();
                            string displayOTHours = otHours.Contains(".") ? item.OTHours.ToString("N") : otHours;
                        }
                        @displayOTHours
                    </td>
                </tr>
            }
        </table>
}