@model IEnumerable<CECRunningChart.Web.Models.Reports.DriverOperatorTimeSheetModel>

@{
    ViewBag.Title = "Driver / Operator Time Sheet";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.addMethod("selectDriverName", function (value, element) {
            return value != "- SELECT -";
        }, " *");

        $("#drivertimesheetform").validate({
            rules: {
                driverName: {
                    selectDriverName: true
                }
            },
            messages: {
                driverName: " *"
            }
        });
    });
</script>
<h2>Driver / Operator Time Sheet</h2>
<p>
    @Html.ActionLink("Back to Reports", "index")
</p>
@if (Model == null)
{
    var drivers = ViewBag.DriverNames as List<string>;
    var options = drivers.Select(x => new SelectListItem(){ Text = x, Value = x }).ToList<SelectListItem>();
    using (Html.BeginForm("drivertimesheet", "report", FormMethod.Post, new { @id = "drivertimesheetform" }))
    {
        @Html.DropDownList("driverName", options)<br />
        <input type="submit" value="Generate Report" />
    }
}
else
{
    <p>
        @Html.ActionLink("Back to Driver / Operator Time Sheet", "drivertimesheet")
    </p>
    <p>
        Driver / Operator Name : @ViewBag.DriverOperatorName
    </p>
    <table>
            <tr>
                <th rowspan="2">Date</th>
                <th rowspan="2">Vehicle/Machine No</th>
                <th rowspan="2">In Time</th>
                <th rowspan="2">Out Time</th>
                <th colspan="2">Work Done</th>
                <th rowspan="2">OT Hour</th>
            </tr>
            <tr>
                <td>Km</td>
                <td>Hour</td>
            </tr>
            @foreach (var item in Model)
            {
                var workDoneKm = item.IsVehicle ? item.WorkDone.ToString() : string.Empty;
                var workDoneHr = item.IsVehicle ? string.Empty : item.WorkDone.ToString();
                <tr>
                    <td>
                        @item.BillDate.ToString("d")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNumber)
                    </td>
                    <td>
                        @item.InTime.ToString("t")
                    </td>
                    <td>
                        @item.OutTime.ToString("t")
                    </td>
                    <td>
                        @workDoneKm
                    </td>
                    <td>
                        @workDoneHr
                    </td>
                    <td>
                        @{ 
                   string otHours = item.OTHours.ToString();
                   string displayOTHours = otHours.Contains(".") ? item.OTHours.ToString("N") : otHours;
                        }
                        @displayOTHours
                    </td>
                </tr>
            }
        </table>
}