@model IEnumerable<CECRunningChart.Web.Models.Reports.FuelAndLubricantReportModel>
@using CECRunningChart.Common;
@{
    ViewBag.Title = "Fuel & Lubricant Report";
}
<script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dateselect").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $("#pumpstationId").change(function () {
            $("#pumpstationName").val($("option:selected", this).text());
        });

        $.validator.addMethod("selectPumpstation", function (value, element) {
            return value > 0;
        }, " *");

        $("#fuelandlubricantform").validate({
            rules: {
                startDate: {
                    required: true,
                    maxlength: 50
                },
                endDate: {
                    required: true,
                    maxlength: 50
                },
                pumpstationId: {
                    selectPumpstation: true
                }
            },
            messages: {
                startDate: " *",
                endDate: " *",
                pumpstationId: " *"
            }
        });
    });
</script>
<div class="inrPgHeadding">
    <h2>
        Fuel & Lubricant Report
    </h2>
</div>
<div class="bckBtn">
    @Html.ActionLink("Back to Reports", "index")
    @if (Model != null)
    {
        string print = "/report/fuelandlubricantprint?startDate=" + Server.UrlEncode(Convert.ToDateTime(ViewBag.StartDate).ToString("d")) +
            "&endDate=" + Server.UrlEncode(Convert.ToDateTime(ViewBag.EndDate).ToString("d")) + "&pumpstationId=" + ViewBag.PumpstationId +
            "&pumpstationName="+ Server.UrlEncode(ViewBag.Pumpstation);
        @Html.ActionLink("Back to Fuel & Lubricant Report", "fuelandlubricant")
        <a href="@print" target="_blank" id="PrintReport">Print Report</a>
    }
</div>
<div class="tblContainer">
    @if (Model == null)
    {
        using (Html.BeginForm("fuelandlubricant", "report", FormMethod.Post, new { @id = "fuelandlubricantform" }))
        {
            var pumpstations = ViewBag.PumpStations as List<CECRunningChart.Web.Models.Pumpstation.PumpstationModel>;
        
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Report Start Date:
                </div>
                <div class="editor-field">
                    <input type="text" id="startDate" name="startDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Report End Date:
                </div>
                <div class="editor-field">
                    <input type="text" id="endDate" name="endDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Pump Station:
                </div>
                <div class="editor-field">
                    @Html.DropDownList("pumpstationId", CECRunningChart.Web.Helpers.ModelMapper.GetPumpstationOptions(pumpstations), new { @id = "pumpstationId", @class = "todo" })
                </div>
                <input type="hidden" id="pumpstationName" name="pumpstationName" value="" />
            </div>
        </div>
        <div class="row">
            <input class="genRptBtn" type="submit" value="Generate Report" />
        </div>              
        }
    }
    else
    {
        <p>
            Period : @Convert.ToDateTime(ViewBag.StartDate).ToString("d") - @Convert.ToDateTime(ViewBag.EndDate).ToString("d")
            <br />
            Pump Station : @ViewBag.Pumpstation
        </p>
        <table class="tblFont">
            <tr>
                <td rowspan="2" class="tblModel">
                    Date
                </td>
                <td rowspan="2" class="tblModel">
                    Vehicle/Machine No
                </td>
                <td rowspan="2" class="tblModel">
                    Driver/Op Name
                </td>
                <td rowspan="2" class="tblModel">
                    Company/Hire
                </td>
                <td rowspan="2" class="tblModel">
                    DRC No
                </td>
                <td colspan="4" style="text-align: center" class="tblModel">
                    Fuel
                </td>
                <td colspan="4" style="text-align: center" class="tblModel">
                    Lubricant
                </td>
            </tr>
            <tr>
                <td class="tblsubModel">
                    Type
                </td>
                <td class="tblsubModel">
                    Qty
                </td>
                <td class="tblsubModel">
                    Rate
                </td>
                <td class="tblsubModel">
                    Amount
                </td>
                <td class="tblsubModel">
                    Type
                </td>
                <td class="tblsubModel">
                    Qty
                </td>
                <td class="tblsubModel">
                    Rate
                </td>
                <td class="tblsubModel">
                    Amount
                </td>
            </tr>
            @foreach (var item in Model)
            {
                string fuelType = string.Empty;
                string fuelQty = string.Empty;
                string fuelRate = string.Empty;
                string fuelAmt = string.Empty;
                string lubType = string.Empty;
                string lubQty = string.Empty;
                string lubRate = string.Empty;
                string lubAmt = string.Empty;
                if (item.FuelQty > 0)
                {
                    fuelType = item.FuelType;
                    fuelQty = item.FuelQty.ConvertToDecimalString();
                    fuelRate = item.FuelRate.ConvertToDecimalString();
                    fuelAmt = (item.FuelQty * item.FuelRate).ConvertToDecimalString();
                }
                if (item.LubricantQty > 0)
                {
                    lubType = item.LubricantType;
                    lubQty = item.LubricantQty.ConvertToDecimalString();
                    lubRate = item.LubricantRate.ConvertToDecimalString();
                    lubAmt = (item.LubricantQty * item.LubricantRate).ConvertToDecimalString();
                }
                <tr>
                    <td class="mainColum">
                        @item.BillDate.ToString("d")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverOperatorName)
                    </td>
                    <td>
                        @if (item.IsHiredVehicle)
                        {
                            <text>YES</text>
                        }
                        else
                        {
                            <text>NO</text>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RunningchartId)
                    </td>
                    <td>
                        @fuelType
                    </td>
                    <td style="text-align:right;">
                        @fuelQty
                    </td>
                    <td style="text-align:right;">
                        @fuelRate
                    </td>
                    <td style="text-align:right;">
                        @fuelAmt
                    </td>
                    <td>
                        @lubType
                    </td>
                    <td style="text-align:right;">
                        @lubQty
                    </td>
                    <td style="text-align:right;">
                        @lubRate
                    </td>
                    <td style="text-align:right;">
                        @lubAmt
                    </td>
                </tr>
            }
        </table>
    }
</div>
