@model IEnumerable<CECRunningChart.Web.Models.Reports.FuelConsumptionReportModel>
@{
    ViewBag.Title = "Fuel Consumption Report";
}
<script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dateselect").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $("#fuelconsumptionform").validate({
            rules: {
                startDate: {
                    required: true,
                    maxlength: 50
                },
                endDate: {
                    required: true,
                    maxlength: 50
                }
            },
            messages: {
                startDate: " *",
                endDate: " *"
            }
        });
    });
</script>
<div class="inrPgHeadding">
    <h2>
        Fuel Consumption Report</h2>
</div>
<div class="bckBtn">
    @Html.ActionLink("Back to Reports", "index")
    @if (Model != null)
    {
        string print = "/report/fuelconsumptionprint?startDate=" + Server.UrlEncode(Convert.ToDateTime(ViewBag.StartDate).ToString("d")) + 
            "&endDate=" + Server.UrlEncode(Convert.ToDateTime(ViewBag.EndDate).ToString("d"));
        @Html.ActionLink("Back to Fuel Consumption Report", "fuelconsumption")
        <a href="@print" target="_blank" id="PrintReport">Print Report</a>
    }
</div>
<div class="tblContainer">
    @if (Model == null)
    {
        using (Html.BeginForm("fuelconsumption", "report", FormMethod.Post, new { @id = "fuelconsumptionform" }))
        {
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Report Start Date:
                </div>
                <div class="editor-field">
                    <input type="text" id="startDate" name="startDate" class="dateselect" /><br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Report End Date:
                </div>
                <div class="editor-field">
                    <input type="text" id="endDate" name="endDate" class="dateselect" /><br />
                </div>
            </div>
        </div>
        <div class="row">
            <input  class="genRptBtn" type="submit" value="Generate Report" />
        </div>
        }
    }
    else
    {
        <p>
            Period : @Convert.ToDateTime(ViewBag.StartDate).ToString("d") - @Convert.ToDateTime(ViewBag.EndDate).ToString("d")
        </p>
        <table class="tblFont">
            <tr>
                <th class="tblModel">
                    Vehicle/Machine No
                </th>
                <th class="tblModel">
                    Driver/Operator Name
                </th>
                <th class="tblModel">
                    Km/Hour Done
                </th>
                <th class="tblModel">
                    Total Fuel Used
                </th>
                <th class="tblModel">
                    Rate
                </th>
                <th class="tblModel">
                    Actual
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="mainColum">
                        @Html.DisplayFor(modelItem => item.VehicleNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverOperatorName)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.KmHrDone)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.TotalFuelUsage)
                    </td>
                    <td style="text-align:right;">
                        @String.Format("{0:0.00}", Math.Truncate(item.VehicleRate * 100) / 100) Km/L
                    </td>
                    <td style="text-align:right;">
                        @String.Format("{0:0.00}", Math.Truncate(item.ActualRate * 100) / 100) Km/L
                    </td>
                </tr>
            }
        </table>
    }
</div>
