@model IEnumerable<CECRunningChart.Web.Models.Reports.HireBillReportModel>

@{
    ViewBag.Title = "Hire Bill Report";
}
<script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dateselect").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $("#projectId").change(function () {
            $("#projectName").val($("option:selected", this).text());
        });

        $.validator.addMethod("selectProject", function (value, element) {
            return value > 0;
        }, " *");

        $("#hirebillform").validate({
            rules: {
                startDate: {
                    required: true,
                    maxlength: 50
                },
                endDate: {
                    required: true,
                    maxlength: 50
                },
                projectId: {
                    selectProject: true
                }
            },
            messages: {
                startDate: " *",
                endDate: " *",
                projectId: " *"
            }
        });
    });
</script>
<div class="inrPgHeadding">
    <h2>Hire Bill Report</h2>
</div>
<div class="bckBtn">
    @Html.ActionLink("Back to Reports", "index")
    @if (Model != null)
    { 
        @Html.ActionLink("Back to Hire Bill Report", "hirebill")
    }
</div>
<div class="tblContainer">
@if (Model == null)
{
    using (Html.BeginForm("hirebill", "report", FormMethod.Post, new { @id = "hirebillform" }))
    {
        var projects = ViewBag.Projects as List<CECRunningChart.Web.Models.Project.ProjectModel>;
        
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                     Start Date
                 </div>
                <div class="editor-field">
                    <input type="text" id="startDate" name="startDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    End Date
                </div>
                <div class="editor-field">
                    <input type="text" id="endDate" name="endDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Project
                    </div>
                <div class="editor-field">
                     @Html.DropDownList("projectId", CECRunningChart.Web.Helpers.ModelMapper.GetProjectOptions(projects), new { @id = "projectId", @class = "todo" })
                        &nbsp;
                    <input type="hidden" id="projectName" name="projectName" value="" />
                </div>
            </div>
        </div>
        <div class="row">
             <input  class="genRptBtn" type="submit" value="Generate Report" />
        </div>
      
    }
}
else
{
    
    <p>
        Period : @Convert.ToDateTime(ViewBag.StartDate).ToString("d") - @Convert.ToDateTime(ViewBag.EndDate).ToString("d") <br />
        Project : @ViewBag.ProjectName
    </p>
    <table class="tblFont">
        <tr>
            <td rowspan="2" class="tblModel">
                Date</td>
            <td rowspan="2" class="tblModel">
                Vehicle/Machine No</td>
            <td rowspan="2" class="tblModel">
                Company Code</td>
            <td colspan="2" class="tblModel">
                Work Done</td>
            <td colspan="2" class="tblModel">
                Rate</td>
            <td rowspan="2" class="tblModel">
                Amount</td>
        </tr>
        <tr>
            <td class="tblsubModel">
                Km</td>
            <td class="tblsubModel">
                Hour</td>
            <td class="tblsubModel">
                Km</td>
            <td class="tblsubModel">
                Hour</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="mainColum">
                    @item.BillDate.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyCode)
                </td>
                <td>
                    @if (item.IsVehicle)
                    {
                        <text>@item.KmHrDone</text>
                    }
                </td>
                <td>
                    @if (!item.IsVehicle)
                    {
                        <text>@item.KmHrDone</text>
                    }
                </td>
                <td>
                    @if (item.IsVehicle)
                    {
                        <text>@item.VehicleRate</text>
                    }
                </td>
                <td>
                    @if (!item.IsVehicle)
                    {
                        <text>@item.VehicleRate</text>
                    }
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>
        }
    </table>
}
</div>