@{
    ViewBag.Title = "Index";
}
<div class="inrPgHeadding">
<h2>Manage Reports</h2>
</div>

<div class="createRpt">
<a href="@Url.Action("fuelconsumption")">Fuel Consumption Report – Company</a>
</div>
<div class="createRpt">
<a href="@Url.Action("hiredfuelreport")">Fuel Report – Hired Vehicle / Machine</a>
</div>
<div class="createRpt">
<a href="@Url.Action("fuelandlubricant")">Fuel & Lubricant Report</a>
</div>
<div class="createRpt">
<a href="@Url.Action("hirebill")">Hire Bill Report</a>
</div>
<div class="createRpt">
<a href="@Url.Action("drivertimesheet")">Driver / Operator Time Sheet</a>
</div>
<div class="createRpt">
<a href="@Url.Action("vehiclemachineregister")">Vehicle Machine Register Report</a>
</div>
