@{
    ViewBag.Title = "Index";
}

<h2>Manage Reports</h2>
<br />
<a href="@Url.Action("fuelconsumption")">Fuel Consumption Report – Company</a><br />
<a href="@Url.Action("hiredfuelreport")">Fuel Report – Hired Vehicle / Machine</a><br />
<a href="@Url.Action("drivertimesheet")">Driver / Operator Time Sheet</a><br />
<a href="@Url.Action("fuelandlubricant")">Fuel & Lubricant Report</a><br />
<a href="@Url.Action("vehiclemachineregister")">Vehicle Machine Register Report</a><br />
<a href="@Url.Action("hirebill")">Hire Bill Report</a><br />
<a href="@Url.Action("hirebillprivate")">Hire Bill (Private) Report</a><br />
