@model IEnumerable<CECRunningChart.Web.Models.Reports.VehicleMachineRegisterModel>

@{
    ViewBag.Title = "Vehicle Machine Register Report";
}

<script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dateselect").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $("#vehiclemachineregisterform").validate({
            rules: {
                startDate: {
                    required: true,
                    maxlength: 50
                },
                endDate: {
                    required: true,
                    maxlength: 50
                },
            },
            messages: {
                startDate: " *",
                endDate: " *"
            }
        });
    });
</script>
<div class="inrPgHeadding">
<h2>Vehicle Machine Register Report</h2>
</div>
<div class="bckBtn">
    @Html.ActionLink("Back to Reports", "index")
    @if (Model != null)
    {
        @Html.ActionLink("Back to Vehicle Machine Register Report", "vehiclemachineregister")
    }
</div>
<div class="tblContainer">
@if (Model == null)
{
    using (Html.BeginForm("vehiclemachineregister", "report", FormMethod.Post, new { @id = "vehiclemachineregisterform" }))
    {
        
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Start Date
                </div>
                <div class="editor-field">
                    <input type="text" id="startDate" name="startDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    End Date
                </div>
                <div class="editor-field">
                    <input type="text" id="endDate" name="endDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <input class="genRptBtn" type="submit" value="Generate Report" />
        </div>
       
    }
}
else
{
    int count = 1;
    
    <p>
        Period : @Convert.ToDateTime(ViewBag.StartDate).ToString("d") - @Convert.ToDateTime(ViewBag.EndDate).ToString("d")
    </p>
    <table class="tblFont">
        <tr>
            <th class="tblModel">
                No
            </th>
            <th class="tblModel">
                Type
            </th>
            <th class="tblModel">
                Veh/Machine Reg. No
            </th>
            <th class="tblModel">
                Company Code
            </th>
            <th class="tblModel">
                Location as at End of the Period
            </th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="mainColum">
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleLocation)
            </td>
        </tr>
           count++;
    }
    </table>
}
</div>