@model IEnumerable<CECRunningChart.Web.Models.Reports.WorkDoneReportModel>
@using CECRunningChart.Common;
@{
    ViewBag.Title = "Work Done Report – Vehicle/Machine";
}

<script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dateselect").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $("#companyCode").change(function () {
            var vehicleId = $(this).val();
            if (vehicleId <= 0) {
                return;
            }
            $("#vehicleNo").val(vehicleId);
        });

        $("#vehicleNo").change(function () {
            var vehicleId = $(this).val();
            if (vehicleId == 0) {
                return;
            }

            if ($("#companyCode option[value='" + vehicleId + "']").length > 0) {
                $("#companyCode").val(vehicleId);
            }
            else {
                $("#companyCode").val(-1);
            }
        });

        $.validator.addMethod("selectProject", function (value, element) {
            // return value > 0;
            var compCode = $("#companyCode").val();
            var vehNo = $("#vehicleNo").val();
            return compCode > 0 || vehNo > 0;
        }, " *");

        $("#workdoneform").validate({
            rules: {
                startDate: {
                    required: true,
                    maxlength: 50
                },
                endDate: {
                    required: true,
                    maxlength: 50
                },
                vehicleNo: {
                    selectProject: true
                },
                companyCode: {
                    selectProject: true
                }
            },
            messages: {
                startDate: " *",
                endDate: " *",
                vehicleNo: " *",
                companyCode: " *"
            }
        });

        $("#companyCode").val(0);
    });
</script>
<div class="inrPgHeadding">
    <h2>Work Done Report – Vehicle/Machine</h2>
</div>
<div class="bckBtn">
    @Html.ActionLink("Back to Reports", "index")
    @if (Model != null)
    {
        string print = "/report/workdoneprint?startDate=" + Server.UrlEncode(Convert.ToDateTime(ViewBag.StartDate).ToString("d")) +
            "&endDate=" + Server.UrlEncode(Convert.ToDateTime(ViewBag.EndDate).ToString("d")) + "&vehicleNo=" + ViewBag.VehicleNo;
        @Html.ActionLink("Back to Work Done Report – Vehicle/Machine", "workdone")
        <a href="@print" target="_blank" id="PrintReport">Print Report</a>
    }
</div>
<div class="tblContainer">
@if (Model == null)
{
    var vehicles = ViewBag.Vehicles as List<CECRunningChart.Web.Models.Vehicle.VehicleModel>;
    using (Html.BeginForm("workdone", "report", FormMethod.Post, new { @id = "workdoneform" }))
    {
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Start Date
                </div>
                <div class="editor-field">
                    <input type="text" id="startDate" name="startDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    End Date
                </div>
                <div class="editor-field">
                    <input type="text" id="endDate" name="endDate" class="dateselect" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="editor-label">
                    Vehicle/Machine No
                </div>
                <div class="editor-field">
                    @Html.DropDownList("vehicleNo", CECRunningChart.Web.Helpers.ModelMapper.GetVehicleOptions(vehicles), new { @id = "vehicleNo" })
                </div>
            </div>
            <div class="wrapper">
                <div class="editor-label">
                    Company Code
                </div>
                <div class="editor-field">
                    @Html.DropDownList("companyCode", CECRunningChart.Web.Helpers.ModelMapper.GetCompanyCodeOptions(vehicles), new { @id = "companyCode" })
                </div>
            </div>
        </div>
        <div class="row">
            <input class="genRptBtn" type="submit" value="Generate Report" />
        </div>
    }
}
else
{
    var measure = Convert.ToBoolean(ViewBag.IsVehicle) ? "Km" : "Hrs";
    <p>
        Period : @Convert.ToDateTime(ViewBag.StartDate).ToString("d") - @Convert.ToDateTime(ViewBag.EndDate).ToString("d") <br />
        Vehicle/Machine No : @ViewBag.VehicleNumber <br />
        Company Code : @ViewBag.CompanyCode <br />
    </p>
    <table class="tblFont">
        <tr>
            <td>Date</td>
            <td>Name of Driver/Operator</td>
            <td>Work Done  Km/Hrs</td>
            <td>Fuel Used</td>
            <td>Location (Project)</td>
            <td>Condition</td>
        </tr>
        @foreach (var item in Model)
	    {
            <tr>
                <td>@item.BillDate.ToString("d")</td>
                <td>@item.DriverName</td>
                <td>@string.Format("{0} {1}", item.WorkDone.ConvertToDecimalString(), measure)</td>
                <td>@item.FuelUsageOfDay.ConvertToDecimalString()</td>
                <td>@item.ProjectLocation</td>
                <td>&nbsp;</td>
            </tr>
	    }
    </table>
    <br />
    <div>Note : B/D – Break Down, W- Working condition</div>
}
</div>