<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="/Content/css/site.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png"  href="../../Content/images/logo_fav.png"/>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="header" class="header">
        <div class="logo">
            <a href="@Url.Action("manage", "home")" class="logoutBtn">
                <img src="/Content/images/logo.png" alt="Home" />
            </a>
        </div>

        @if (Session[CECRunningChart.Web.Helpers.SessionKeys.UserInfo] != null)
        {
            var userRole = (Session[CECRunningChart.Web.Helpers.SessionKeys.UserInfo] as CECRunningChart.Web.Models.User.UserModel).Role;
            <!-- This part'll change -->
            <div class="topNavBar">
                @if (userRole == CECRunningChart.Common.UserRole.Admin)
                {
                    <div class="adminTopIcon">
                        <a href="@Url.Action("index", "vehicle")">
                            <img src="/Content/images/manage_vehicles_machines.png" alt="Manage Vehicles" />
                        </a>
                        <a href="@Url.Action("index", "pumpstation")">
                            <img src="/Content/images/manage_pump_stations.png" alt="Manage Vehicles" />
                        </a>
                        <a href="@Url.Action("Fuel", "vehicle")">
                            <img src="/Content/images/manage_fuelprices.png" alt="Manage Fuel Price" />
                        </a>
                        <a href="@Url.Action("Lubricant", "vehicle")">
                            <img src="/Content/images/manage_lubricants.png" alt="Manage Lubricant Price" />
                        </a>
                        <a href="@Url.Action("index", "project")">
                            <img src="/Content/images/manage_projects.png" alt="Manage Projects" />
                        </a>
                        <a href="@Url.Action("index", "report")">
                            <img src="/Content/images/manage_reports.png" alt="Manage Vehicles" />
                        </a>
                        <a href="@Url.Action("index", "user")">
                            <img src="/Content/images/manage_users.png" alt="Manage Users" />
                        </a>
                        <a href="@Url.Action("index", "runningchart")">
                            <img src="/Content/images/manaeRuningChart.png" alt="Manage Running Charts" />
                        </a>
                        @*<a href="#">
                            <img src="/Content/images/viewPastRptIcon.png" alt="Manage Reports" />
                        </a>
                        <a href="#">
                            <img src="/Content/images/approveRptIcon.png" alt="Manage Users" />
                        </a>*@
                    </div>
                }
                else if (userRole == CECRunningChart.Common.UserRole.RunningChartInspector)
                {
                    <div class="inspectorTopIcon">
                        <a href="">
                            <img src="/Content/images/approveRptIcon.png" />
                        </a>
                        <a href="">
                            <img src="/Content/images/manageRptIcon.png" />
                        </a>
                    </div>
                }
                else if (userRole == CECRunningChart.Common.UserRole.RunningChartOperator)
                {
                    <div class="operatorTopIconPanel">
                        <a href="@Url.Action("index", "runningchart")">
                            <img src="/Content/images/viewPastRptIcon.png" alt="Manage Running Charts" />
                        </a>
                        <a href="@Url.Action("create", "runningchart")">
                            <img src="/Content/images/addRunningChartIcon.png" alt="Manage Running Charts" />
                        </a>
                    </div>
                }
            </div>
            <div class="logoutBtndiv">
                <a href="@Url.Action("LogOff", "Home")" class="logoutBtn">
                    <img src="/Content/images/logoutBtn.png" alt="Log Off" />
                </a>
            </div>
        }
    </div>
    <div id="mainbody" class="mainContent">
        <div class="innerPgContent">
        @RenderBody()
        </div>
        <div id="footer" class="footer">
            <div style="float: left">
                ©Copyrights Received by Consulting Engineers & Contractors (Pvt) Ltd</div>
            <div style="float: right">
                Powerd by Creative and Quality Solutions</div>
        </div>
    </div>
</body>
</html>