@model CECRunningChart.Web.Models.Runningchart.RunningchartModel

@{ 
    int itemCount = 0;
    string meterText = Model.isVehicle ? "Meter" : "Hour";
}
<table>
    <tr>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Time Difference</td>
        <td>Start @meterText</td>
        <td>End @meterText</td>
        <td>@meterText Difference</td>
        <td>Idle Hours</td>
        <td>Project Name</td>
        <td>Project Manager</td>
        <td>Rental Type</td>
        <td>&nbsp;</td>
    </tr>
    @if (Model.SelectedChartItems != null && Model.SelectedChartItems.Count > 0)
    {
        itemCount = Model.SelectedChartItems.Count;
        int index = 0;
        
        foreach (var item in Model.SelectedChartItems)
        {
            string startTimeId = string.Concat("SelectedChartItems[", index, "].StartTime");
            string endTimeId = string.Concat("SelectedChartItems[", index, "].EndTime");
            string timeDiffId = string.Concat("SelectedChartItems[", index, "].TimeDifference");
            string startMeterId = string.Concat("SelectedChartItems[", index, "].StartMeter");
            string endMeterId = string.Concat("SelectedChartItems[", index, "].EndMeter");
            string meterDiffId = string.Concat("SelectedChartItems[", index, "].MeterDifference");
            string idleHoursId = string.Concat("SelectedChartItems[", index, "].IdleHours");
            string selectedProjectId = string.Concat("SelectedChartItems[", index, "].SelectedProjectId");
            string selectedRentalTypeId = string.Concat("SelectedChartItems[", index, "].SelectedRentalTypeId");
            string selectedProjectManagerId = string.Concat("SelectedChartItems[", index, "].SelectedProjectManager");
            string idleHourText = item.IdleHours == 0 ? string.Empty : item.IdleHours.ToString();
            <tr>
                <td>
                    <input type="text" id="@startTimeId" name="@startTimeId" value="@item.StartTime" maxlength="10" class="timepick" />
                    <label id="@string.Concat("ChartItemStartTimeError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@endTimeId" name="@endTimeId" value="@item.EndTime" maxlength="10" class="timepick calcdiff" row="@index" />
                    <label id="@string.Concat("ChartItemEndTimeError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@timeDiffId" name="@timeDiffId" value="@item.TimeDifference" maxlength="10" />
                    <label id="@string.Concat("ChartItemTimeDiffError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@startMeterId" name="@startMeterId" value="@item.StartMeter" maxlength="10" />
                    <label id="@string.Concat("ChartItemStartMeterError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@endMeterId" name="@endMeterId" value="@item.EndMeter" class="meterdiff" row="@index" maxlength="10" />
                    <label id="@string.Concat("ChartItemEndMeterError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@meterDiffId" name="@meterDiffId" value="@item.MeterDifference" maxlength="10" />
                    <label id="@string.Concat("ChartItemMeterDiffError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@idleHoursId" name="@idleHoursId" value="@idleHourText" maxlength="10" />
                    <label id="@string.Concat("ChartItemIdleHrsError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    @Html.DropDownList(selectedProjectId, Model.GetProjectOptions(item.SelectedProjectId), new { @id = selectedProjectId, @class = "todo" })
                    <label id="@string.Concat("ChartItemProjectError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@selectedProjectManagerId" name="@selectedProjectManagerId" value="@item.SelectedProjectManager" maxlength="200" />
                    <label id="@string.Concat("ChartItemProjectMgrError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    @Html.DropDownList(selectedRentalTypeId, Model.GetRentalTypeOptions(item.SelectedRentalTypeId), new { @id = selectedRentalTypeId, @class = "todo" })
                    <label id="@string.Concat("ChartItemRentleError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td><input type="button" value="Remove" onclick="PopulateChartRows(false, true, @index);" /></td>
            </tr>
            index++;
        }
    }
    <tr>
        <td><input type="button" value="Add" onclick="PopulateChartRows(true, false, 0);" /></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<input type="hidden" id="ChartItemsCount" value="@itemCount" />