@model CECRunningChart.Web.Models.Runningchart.RunningchartModel

@{ int lubItemCount = 0; }
<table>
    <tr>
        <td>Pump Station</td>
        <td>Lubricant Type</td>
        <td>Pump Amount</td>
        <td>&nbsp;</td>
    </tr>
    @if (Model.SelectedLubricants != null && Model.SelectedLubricants.Count > 0)
    {
        lubItemCount = Model.SelectedLubricants.Count;
        int index = 0;
        foreach (var lubricant in Model.SelectedLubricants)
        {
            var pumpstationId = string.Concat("SelectedLubricants[", index, "].SelectedPumpstationId");
            var lubricantTypeId = string.Concat("SelectedLubricants[", index, "].SelectedLubricantTypeId");
            var amountId = string.Concat("SelectedLubricants[", index, "].PumpAmount");
            var amount = lubricant.PumpAmount == 0 ? string.Empty : lubricant.PumpAmount.ToString();
            <tr>
                <td>
                    @Html.DropDownList(pumpstationId, Model.GetPumpstationOptions(lubricant.SelectedPumpstationId), new { @id = pumpstationId, @class = "todo" })
                    <label id="@string.Concat("LubricantPumpstationError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    @Html.DropDownList(lubricantTypeId, Model.GetLubricantOptions(lubricant.SelectedLubricantTypeId), new { @id = lubricantTypeId, @class = "todo" })
                    <label id="@string.Concat("LubricantLubricantError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@amountId" name="@amountId" value="@amount" />
                    <label id="@string.Concat("LubricantQuantityError", index)" for="@amountId" style="display: none; color: Red; "> *</label>
                </td>
                <td><input type="button" value="Remove" onclick="PopulateLubricantstationRows(false, true, @index);" /></td>
            </tr>
            index++;
        }
    }
    <tr>
        <td><input type="button" value="Add" onclick="PopulateLubricantstationRows(true, false, 0);" /></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<input type="hidden" id="LubricantstationsCount" value="@lubItemCount" />