@model CECRunningChart.Web.Models.Runningchart.RunningchartModel
           
@{ int itemCount = 0; }
<table>
    <tr>
        <td>Pump Station</td>
        <td>Pump Amount</td>
        <td>&nbsp;</td>
    </tr>
    @if (Model.SelectedPumpstations != null && Model.SelectedPumpstations.Count > 0)
    {
        itemCount = Model.SelectedPumpstations.Count;
        int index = 0;
        foreach (var pumpstation in Model.SelectedPumpstations)
        {
            var pumpstationId = string.Concat("SelectedPumpstations[", index, "].SelectedPumpstationId");
            var amountId = string.Concat("SelectedPumpstations[", index, "].PumpAmount");
            var amount = pumpstation.PumpAmount == 0 ? string.Empty : pumpstation.PumpAmount.ToString();
            <tr>
                <td>
                    @Html.DropDownList(pumpstationId, Model.GetPumpstationOptions(pumpstation.SelectedPumpstationId), new { @id = pumpstationId, @class = "todo" })
                    <label id="@string.Concat("PumpstationPumpstationError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td>
                    <input type="text" id="@amountId" name="@amountId" value="@amount" />
                    <label id="@string.Concat("PumpstationQtyError", index)" style="display: none; color: Red;"> *</label>
                </td>
                <td><input type="button" value="Remove" onclick="PopulatePumpstationRows(false, true, @index);" /></td>
            </tr>
            index++;
        }
    }
    <tr>
        <td><input type="button" value="Add" onclick="PopulatePumpstationRows(true, false, 0);" /></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<input type="hidden" id="PumpstationsCount" value="@itemCount" />