@model IEnumerable<CECRunningChart.Web.Models.Runningchart.RunningchartModel>
@{
    ViewBag.Title = "Manage Running Charts";
}
<div class="inrPgHeadding">
    <h2>
        Manage Running Charts
    </h2>
</div>
<div class="createNewRow">
    <a href="@Url.Action("create", "runningchart")">Add New Running Chart</a>
</div>
@if (ViewBag.LastChartId != null)
{
    <div id="LastChartId" class="todo">
        Last Running Chart Id : @ViewBag.LastChartId
    </div>
}
<div class="tblContainer">
<table class="tblFont">
    <tr>
        <th class="tblModel">
            Runningchart Id
        </th>
        <th class="tblModel">
            Bill Number
        </th>
        <th class="tblModel">
            Bill Date
        </th>
        <th class="tblModel">
            Driver Name
        </th>
        <th class="tblModel">
            Vehicle #
        </th>
        <th class="tblModel">
        </th>
    </tr>
    @{ 
        var vehicles = ViewBag.Vehicles as List<CECRunningChart.Web.Models.Vehicle.VehicleModel>;
        var user = Session[CECRunningChart.Web.Helpers.SessionKeys.UserInfo] as CECRunningChart.Web.Models.User.UserModel;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td class="mainColum">
                @Html.DisplayFor(modelItem => item.RunningchartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillNumber)
            </td>
            <td>
                @item.BillDate.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @vehicles.Where(x => x.Id == item.SelectedVehicleId).Single().VehicleNumber
            </td>
            <td>
                @if (user.Role == CECRunningChart.Common.UserRole.RunningChartInspector || user.Role == CECRunningChart.Common.UserRole.Admin)
                {
                    @Html.ActionLink("Approve", "approve", new { id = item.RunningchartId })
                }
                &nbsp;
            </td>
        </tr>
    }
</table>
</div>
