@model IEnumerable<CECRunningChart.Web.Models.Runningchart.RunningchartModel>
@{
    ViewBag.Title = "Manage Running Charts";
}
<div class="inrPgHeadding">
    <h2>
        Manage Running Charts
    </h2>
</div>
<div class="createNewRow">
    <a href="@Url.Action("create", "runningchart")">Add New Running Chart</a>
</div>
<div class="tblContainer">
<table class="tblFont">
    <tr>
        <th class="tblModel">
            Runningchart Id
        </th>
        <th class="tblModel">
            Bill Number
        </th>
        <th class="tblModel">
            Bill Date
        </th>
        <th class="tblModel">
            Driver Name
        </th>
        <th class="tblModel">
            Vehicle #
        </th>
        <th class="tblModel">
        </th>
    </tr>
    @{ var vehicles = ViewBag.Vehicles as List<CECRunningChart.Web.Models.Vehicle.VehicleModel>; }
    @foreach (var item in Model)
    {
        <tr>
            <td class="mainColum">
                @Html.DisplayFor(modelItem => item.RunningchartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillNumber)
            </td>
            <td>
                @item.BillDate.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @vehicles.Where(x => x.Id == item.SelectedVehicleId).Single().VehicleNumber
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.RunningchartId }) |*@ @*@Html.ActionLink("Details", "Details", new { id = item.RunningchartId })*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.RunningchartId })*@
            </td>
        </tr>
    }
</table>
</div>
